/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-size: 16;
  line-height:1.8em;
}

.fa-linkedin-square:hover {
 text-decoration: none;
};


.container span.label {
    display: inline-block;
    width: 60px;
}
